In [21]:
import pandas as pd

In [98]:
distance_df = pd.read_csv("comparison_distance.csv")
del distance_df["dtw-python-normalizedDistance"]

In [99]:
def rowStyle(row):
    if row.function1 != row.function2:
        return ['background-color: yellow'] * len(row)
    return [''] * len(row)

## CPU - not normalized and not smoothed

In [104]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [114]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## CPU - normalized but not smoothed

In [105]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [115]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## CPU - smoothed but not normalized

In [107]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [116]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## CPU - normalized and smoothed

In [108]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [117]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## RAM - not normalized and not smoothed

In [120]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
#filtered.style.apply(bold_style,axis = 1)
filtered.sort_values(by=['lcss_similarity'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [118]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
#filtered.style.apply(bold_style,axis = 1)
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## RAM - normalized but not smoothed

In [111]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [121]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtw-python-distance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## RAM - smoothed but not normalized

In [112]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]

filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [124]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]

filtered.sort_values(by=['lcss_similarity'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## RAM - normalized and smoothed

In [113]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [123]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)