In [21]:
import pandas as pd

In [125]:
distance_df = pd.read_csv("comparison_distance.csv")
del distance_df["dtw-python-normalizedDistance"]

In [126]:
def rowStyle(row):
    if row.function1 != row.function2:
        return ['background-color: yellow'] * len(row)
    return [''] * len(row)

## CPU - not normalized and not smoothed

In [127]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [128]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## CPU - normalized but not smoothed

In [129]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [130]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## CPU - smoothed but not normalized

In [131]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [132]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## CPU - normalized and smoothed

In [133]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [134]:
filter1 = distance_df["dataType"]=="CPU"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## RAM - not normalized and not smoothed

In [135]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
#filtered.style.apply(bold_style,axis = 1)
filtered.sort_values(by=['lcss_similarity'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [136]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
#filtered.style.apply(bold_style,axis = 1)
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## RAM - normalized but not smoothed

In [139]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['lcss_similarity'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [141]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==0
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['dtaidistance'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## RAM - smoothed but not normalized

In [143]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]

filtered.sort_values(by=['lcss_similarity'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [144]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==0
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]

filtered.sort_values(by=['lcss_similarity'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

## RAM - normalized and smoothed

In [145]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="aggregation"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)

In [146]:
filter1 = distance_df["dataType"]=="RAM"
filter2 = distance_df["is_normalized"]==1
filter3 = distance_df["is_smoothed"]==1
filter4 = distance_df["function1"]=="filtration"

filtered = distance_df[filter1 & filter2 & filter3 & filter4]
filtered.sort_values(by=['euclidean'], inplace=True)
filtered.style.apply(rowStyle,axis = 1)